.header{
    background-color: #0075B8;
    padding: 2%;
}
.header a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 25px;
    cursor: pointer;

}
.donate{
    background:#EB4A4F;
    border-radius: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right:20px;
    margin-left:25px;
}


.logo{
    width: auto;
    height: 50px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
.header img{
    padding-bottom: 20px
}

ul{
    margin-left: 120px
}