.header{
    background-color: #0075B8;
    padding: 2%;
}
.header a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-left: 20px;
}
.donate{
    background: rgb(252, 60, 60);
    border-radius: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right:20px;
    margin-left:20px;
}

.logo{
    width: auto;
    height: 50px;
    margin-right:20px
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header img{
    padding-bottom: 20px
}

.adopt{
    margin-left: 50px
}